---
layout: page
title: "About"
description: "This is Icebamboo."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> Chinese </option>
    <option value="1"> 英语 </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        玩游戏，做设计，写代码，看世界，想YouYou。
    </blockquote>
    <p>你好，我叫<strong>鞠杰</strong>，就读于重庆第二师范学院本科，物联网工程专业。热爱玩游戏和做设计，想投身游戏行业。</p>

    <p>爱好玩游戏、看电影、看书；<a href="https://steamcommunity.com/id/271093251/" target="_blank">Steam</a>上玩了一部分的游戏。</p>

    <p>联系方式：<a href="jujie97@outlook.com">jujie97@outlook.com</a></p>
</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote>
        Play games, do design, write code, see the world,  Youyou.
    </blockquote>

    <p>Hi, my name is <strong>Jie Ju</strong>. Graduated from Chongqing Second Normal University, majoring in Internet of Things engineering. Love to play games and design, want to join the game industry.</p>

    <p>Love to play games, watch movies, read books; Some of the games are played on <a href="https://steamcommunity.com/id/271093251/" target="_blank">Steam</a>.</p>


    <p>Contact me:a271093251@live.com</p>    
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}


{% if site.livere_uid %}
<!-- livere 评论框 start -->
<div class="comment">
    <div id="lv-container" data-id="city" data-uid="{{ site.livere_uid }}"></div>
</div>
<!-- livere 评论框 end -->

<!-- livere 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    (function(d, s) {
        var j, e = d.getElementsByTagName(s)[0];
        if (typeof LivereTower === 'function') { return; }
        j = d.createElement(s);
        j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
        j.async = true;
        e.parentNode.insertBefore(j, e);
    })(document, 'script');
</script>
<!-- livere 公共JS代码 end -->
{% endif %}
